.topblock {
    display:flex;
}
.topblock > div {
    width: 10%;
    flex-wrap: inherit;
    justify-content: space-between;
    border-left: solid 3px  rgb(146, 173, 104);
    margin: 10px;
    padding: 10px;
    background: rgb(158, 219, 65);
}
.aboutBox {
    width: 50%;
    padding: 10px;
    display: flex;
    border-left: solid 6px rgb(146, 173, 104);
}
.aboutBox > div {
    text-align: left;
    margin: 10px;
    padding: 20px; /*offset the text*/
    background: rgb(158, 219, 65);
    border-left: solid 4px rgb(146, 173, 104);
}