body {
    margin: 0;
    background: rgb(252, 198, 112);
}

#wrapper{
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(255, 214, 164);
}


header {
    padding-top: 30px;
}

header > h1 {
    margin: 0;
    font-size: 2rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    padding: 5px;
    margin: 10px;
    background: saddlebrown;
    border: 3px ridge tan;
    box-shadow: 3px 3px 3px 2px grey;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    border-color: chocolate;
}
